body {
    background-color: lightgray;
}

@keyframes ButtonClick {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

.ButtonClicked {
    animation-name: ButtonClick;
    animation-duration: 0.1s;
}